@import "tailwindcss";


* {
  box-sizing:border-box;
}


html,
body {

  margin:0;

  padding:0;

  background:#F7F4EE;

}


body {

  font-family:var(--font-persian);

}



.miwani-fashion {

  font-family:var(--font-fashion);

}


.miwani-persian {

  font-family:var(--font-persian);

}
.miwani-story-font{

font-family:var(--font-miwani);

font-weight:400;

letter-spacing:0.02em;

}